/* index.html main 전용 */

body {
    background-color: #000;
}
main {}
main h1 {
    font-size: 3.125rem;
    font-family: 'Kalnia', serif;
    text-align: center;
    padding: 80px 0;
    background-color: #000;
    border-top: 1px solid #eee;
    color: #fff;
    line-height: 1.5;
}
main h1 span {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 3.125rem;
}
main .photo {
    display: flex;
    justify-content:center;
}
main .photo img {}
main .contents {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.7;
    padding: 100px 0;
    color: #fff;
}